.container {
    height: 97vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.video-streams {
    height: 80vh;
    width: 70vw;
    padding: 10px;
    display: flex;
    gap: 50px;
    align-items: center;
    position: relative;
    margin: auto;
}

h2 {
    text-align: center;
    color: white;
}


.row>div {
    margin: auto;
    width: fit-content;
}

body {
    background-color: rgb(60, 60, 60);
}

button {
    width: 115px;
    height: 30px;
    padding: 3px;
    border-radius: 20px;
    background-color: gainsboro;
    font-size: inherit;
    cursor: pointer;
}

.video {
    position: absolute;
    transition: all 0.3s ease;
}

/* .local-video {
    width: 300px;
    height: 200px;
    outline: 3px solid rgb(239, 7, 7);
    position: absolute;
    left: 181px;
    top: 12px;
    z-index: 10;
    } */

.local-video {
    width: 200px;
    height: 150px;
    outline: 3px solid rgb(239, 7, 7);
    top: 12px;
    z-index: 10;
}

.remote-video {
    width: 70vw;
    height: 80vh;
    top: 0;
    left: 0;
    outline: 3px solid black;
}

/* .remote-video {
    width: 70vw;
    height: 80vh;
    margin: auto;
    background: black;
    outline: 3px solid black;
    overflow: hidden;
} */

.controls {
    display: flex;
    padding-top: 20px;
    margin: auto;
    align-items: center;
    gap: 20px;
}

.controls button{
    width: 55px;
    height: 55px;
    padding: 10px;
}


.off {
    background-color: red;
    border-radius: 30px;
    border: none;
}

.on {
    background-color: black;
    border-radius: 30px;
    border: none;
}

#leave{
    background-color: red;
}